# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.so

# Virtual environment
venv/
.env/
.envrc
venv310/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Data files
data/


# Model files
models/
*.pb
*.h5
*.ckpt
*.pth

# VS Code settings
.vscode/

# OS-specific files
.DS_Store
Thumbs.db
